* {
  max-width: 100%;
}
.plantView {
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.plantView::after {
  content: "";
  flex: auto;
}
.content-wrapper {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.segment-header {
  width: 100%;
  border-left: 5px solid black;
  padding: 0 0.6rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: 1rem 0.4rem;
}
.Select-menu-outer {
  z-index: 100 !important;
}
.segment-title {
  font-size: 3rem;
  text-transform: uppercase;
  margin-right: auto;
  font-family: "Antonio", sans-serif;
}
.custom-select {
  width: 200px;
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

button {
  text-transform: uppercase;
  margin: 0 1.2rem;
  padding: 0.6em 1.2em;
  border-radius: .2em;
  border: none;
  color: white;
  background-color: rgb(91, 214, 91);
}

button:hover {
  background-color: green;
  color: white;
}
.LandingPage h1 {
  text-align: inherit;
}
.LandingPage p {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}
.LandingPage {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;
}

.w30 {
  width: 29%;
  padding: 0 1rem;
}

.w40 {
  width: 39%;
  padding: 0 1rem;
}

.w50 {
  width: 49%;
  padding: 0 1rem;
}

.w60 {
  width: 59%;
  padding: 0 1rem;
}

.w70 {
  width: 69%;
  padding: 0 1rem;
}

.w100 {
  width: 100%;
  padding: 0 1rem;
}

.XLText {
  font-size: 4rem;
  margin-bottom: 0 !important;
}

/*center vertically*/

.CV {
  align-self: center;
}

.CH {
  text-align: center;
}

.logobox {
  margin: 3rem auto;
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.logobox img {
  height: 5rem;
  margin: 1.5rem;
}

@media screen and (max-width: 520px) {
  .segment-header {
    flex-direction: column;
  }
  .segment-title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .segment-header button {
    order: 3;
    width: 100%;
  }
  .CustomSelect {
    margin-bottom: 0.5rem;
  }
  .content-wrapper {
    width: 95vw;
  }
  .LandingPage {
    flex-direction: column;
    margin-bottom: 5rem;
  }
  .w30,
  .w40,
  .w50,
  .w60,
  .w50,
  .w70 {
    width: 100%;
  }
  .mb_first {
    order: -1;
  }
  .logobox {
    justify-content: center;
    margin: 2rem auto;
  }
  .logobox img {
    margin: 0.6rem;
  }
  .LandingPage p {
    font-size: 1.2rem;
  }
}
