.userlistContainer {
    /* padding: 1.1em; */
    width: 100%;
    background-color: rgba(255, 255, 255, 0.384);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.281);
    /* min-height: 50vh; */
}
.userlistHeader {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    display: inline-block;
    color: black;
    font-size: 14px;
    width: 100%;
}
/* Table Styling */
:root {
    --rain: #367033;
}
.centerText {
    text-align: center;
}
.cptlz:first-letter {
    text-transform: capitalize;
}
table {
    width: 100%;
    font-size: 120%;
    border-collapse: collapse;
}
.form-btn {
    text-transform: uppercase;
    margin: 0 1.2rem;
    padding: 0.4em 0.8em;
    border: 1px solid green;
    color: green;
    background-color: white;
}

.form-btn:hover {
    color: white;
    background-color: green;
}
th {
    background-color: var(--rain);
    text-align: left;
    padding: 0.6rem;
    color: white;
}
td {
    padding: 0.6rem;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
tr:nth-child(even) {
    background-color: rgb(223, 223, 223);
}

@media screen and (max-width: 820px) {
    .userlistContainer table {
        overflow-x: scroll;
        font-size: 100%;
    }
}
@media screen and (max-width: 660px) {
    .userlistContainer table {
        overflow-x: scroll;
        font-size: 100%;
    }
    .userlistContainer :is(td, th) {
        padding: 0.3rem;
    }
}
