@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
.columnContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rowContainer{
    display: flex;
    flex-direction: row;
}
.form {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2em;
    border-radius: 0.4em;
    max-width: 98%;
    width: 35rem;
    margin: auto;
}
.form label {
    font-family: "Poppins", sans-serif;
    margin-bottom: 0.8em;
}
.form span {
    font-size: small;
}
.form :is(input, textarea, select) {
    border: none;
    border-radius: 0.1em;
    background-color: rgb(241, 241, 241);
    padding: 1em;
    width: 100%;
    /* border: 1px solid #0f7a7a;
    border-right: 0;
    border-top: 0; */
    margin-top: -.5rem;
    margin-bottom: 1rem;
}
.form button {
    text-transform: uppercase;
    margin: 1rem 0;
    padding: 1.1em 1.6em;
    border-radius: 0.2em;
    border: none;
    color: white;
    background-color: rgb(101, 219, 101);
    width: 100%;
    margin-bottom: 0.5rem;
}
.form button:hover {
    color: white;
    background-color: green;
}
.container h1 {
    text-align: center;
    margin-bottom: 1rem;
}
