@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2em;
    border-radius: 0.4em;
    max-width: 98%;
    width: 38rem;
    margin: auto;
}
.form label {
    font-family: "Poppins", sans-serif;
    margin-bottom: 0.8em;
}
.form span {
    font-size: small;
}
.form :is(input, textarea, select) {
    border: none;
    border-radius: 0.1em;
    padding: 1em;
    width: 100%;
    border: 1px solid #7b7b7b;
    border-right: 0;
    border-top: 0;
    margin-top: 0.4rem;
}
.form button {
    text-transform: uppercase;
    margin: 1rem 0;
    padding: 1.1em 1.6em;
    border: 1px solid green;
    color: green;
    background-color: white;
    width: 100%;
    margin-bottom: 0.5rem;
}
.form button:hover {
    color: white;
    background-color: green;
}
.container h1{
    text-align: center;
    margin-bottom: 1rem;
}