@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500&family=Playfair+Display:wght@400;500;600&family=Titillium+Web:wght@200;300;400;600&display=swap");
.wrapper {
  max-width: 495px;
  box-shadow: 0 0 40px #0002;
  padding: 1.2rem;
  margin: 0.5rem;
  margin-bottom: 1rem;
  background-color: white;
  border-radius: 0.2em;
  transition: all 0.2s;
  box-sizing: border-box;
}
.wrapper:hover {
  cursor: pointer;
  transform: scale(1.01, 1.01);
}
.wrapper:active {
  transform: scale(0.98, 0.98);
}
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
.extra-info {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 1px;
  font-size: 1.1rem;
  margin: 0;
}
.name {
  font-weight: bold;
  text-transform: capitalize;
  font-family: "Playfair Display", serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0.5rem;
  margin-left: 0;
  font-size: 2.5rem;
}
.plantIcon {
  object-fit: contain;
  width: 35%;
  max-height: 15rem;
  transform: scale(1.1);
}
.hDiv {
  display: flex;
  flex-direction: row;
}
.textIcon {
  height: 22px;
  width: 22px;
  margin: 6px;
  margin-left: 0;
  margin-right: 10px;
}
progress {
  border: 0;
  height: 12px;
  background: #ddd;
  border-radius: 100px;
  width: 100%;
}

progress::-moz-progress-bar {
  border-radius: 100px;
  background: linear-gradient(to right, #054f5c, #279b91);
}

progress::-webkit-progress-bar {
  background: #ddd;
  border-radius: 100px;
}

progress::-webkit-progress-value {
  border-radius: 100px;
  background: linear-gradient(to right, #054f5c, #279b91);
}
.infoBox {
  width: 65%;
}
.warning {
  box-shadow: 0 0 10px crimson;
}
.progressText {
  margin: auto;
  width: fit-content;
  font-size: 0.8rem;
  margin-top: 6px;
  font-weight: bold;
  color: #13453a;
}
.ellipse {
  float: right;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.progwarning::-webkit-progress-value {
  background: linear-gradient(to right, #c00b0b, #e65404);
}

@media screen and (max-width: 520px) {
  .extra-info {
    font-size: 0.9rem;
  }
  .name {
    font-size: 2.5rem;
  }
}
