.miniprofilecontainer {
    background-color: white;
    padding: 2em;
}
.miniprofilecontainer h3{
    font-size: medium;
}
.miniprofilecontainer .capt{
    text-transform: capitalize;
}
.miniprofilecontainer p{
    font-size: x-large;
    margin-bottom: 0.8rem;
}

.miniprofilecontainer button {
    text-transform: uppercase;
    margin: 0;
    padding: 0.4em .8em;
    border: 1px solid green;
    background-color: white;
    color: green;
}
.miniprofilecontainer button:hover {
    color: white;
    background-color: green;
}

@media screen and (max-width: 520px) {
    .profileContainer{
        width: 92%;
    }
    .miniprofilecontainer {
        width: 100%;       
    }

}