.indented {
    border-radius: 1em;
    padding: 0.4em;
    margin-bottom: 1em;
    list-style: none;
    width: 50%;
}
.indented p,
li {
    font-size: 1.1rem;
    margin-bottom: 0.2rem;
}
.popupInfo h1 {
    font-family: "Playfair Display", serif;
    font-size: 3em;
}
.popupMessage {
    text-align: center;
    margin-top: 1em;
}
.editForm {
    border-radius: 1em;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.editForm input,
textarea {
    border-radius: 0.2em;
    border: none;
    padding: 1em;
    margin: 0.2em 0;
    border: 1px solid #7b7b7b;
    border-right: 0;
    border-top: 0;
}
.editForm input[type="submit"] {
    text-transform: uppercase;
    padding: 1.1em 1.6em;
    border: 1px solid green;
    color: green;
    background-color: white;
    cursor: pointer;
}
.editForm input[type="submit"]:hover {
    color: white;
    background-color: green;
}
.popupContent {
    display: flex;
    justify-content: space-between;
}
.rightImg {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.rightImg img {
    max-width: 75%;
    height: fit-content;
}
.buttons {
    display: flex;
    gap: 1em;
    margin: 0 2em;
}
.buttons button {
    cursor: pointer;
    border-radius: 0.1em;
}
.delete {
    border: none;
    background-color: rgb(226, 57, 57);
    color: white;
}
.delete:hover {
    background-color: rgb(173, 9, 42);
}
.fertilize {
    border: none;
    background-color: rgb(126, 59, 5);
    color: white;
}
.fertilize:hover {
    background-color: rgb(75, 36, 4);
}
.water {
    border: none;
    background-color: rgb(32, 170, 212);
    color: white;
}
.water:hover {
    background-color: rgb(12, 124, 158);
}
.w100 {
    width: 100%;
}

@media screen and (max-width: 520px) {
    .indented {
        width: 100%;
    }
    .rightImg {
        width: 100%;
        order: -1;
    }
    .editForm {
        width: 100%;
    }
}
