:root {
    /* --color-white: #f9f9f9; */
    --color-white: #fff;
    --color-white-dark: #EFEFF0;
    --color-primary: #008CBA;
    /* --color-danger: #f44336; */
    --color-danger: #c13a3a;
    --color-danger-light: #FFE3E7;
    --color-success: #4CAF50;
}